<module>
	<rawname>tangopbx</rawname>
	<name>TangoPBX</name>
	<version>17.0.1</version>
	<repo>standard</repo>
	<publisher>TangoPBX LLC</publisher>
	<license>AGPL-3.0</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<authentication>false</authentication>
	<changelog>
		*17.0.1* Initial release
	</changelog>
	<category>Settings</category>
	<description>Customizations for TangoPBX</description>
	<supported>
		<version>13.0</version>
	</supported>
	<menuitems>
		<wiki category="Admin" requires_auth="false" href="https://tangopbx.org/support/" target="_blank" access="all">Get Support</wiki>
	</menuitems>
	<console>
		<command>
			<name>tangopbx</name>
			<alias>tp</alias>
			<class>Tangopbx</class>
		</command>
	</console>
	<hooks>
		<less class="Less" namespace="FreePBX">
			<method namespace="FreePBX\Modules" class="Tangopbx" callingMethod="generateModuleStyles">lessVars</method>
			<method namespace="FreePBX\Modules" class="Tangopbx" callingMethod="generateMainStyles">lessVars</method>
		</less>
	</hooks>
</module>
